@tailwind base;
@tailwind components;
@tailwind utilities;

.page-wrapper {
    background: linear-gradient(to bottom, #f1a957, #e96e4c);
}

.member-card {
    background-color: #f1a957;
}

.group-card {
    background-color: #e96e4c;
}